OPENAI_AZURE_ENDPOINT="https://openai.azure-api.net"
AZURE_OPENAI_API_KEY="secret"
OPENAI_API_VERSION=
OPENAI_DEPLOYMENT_MODEL=
OPENAI_TEXT_EMBEDDING_MODEL=
OPENAI_REQUEST_TIMEOUT=300
OPENAI_MAX_RETRY_TIME_SECS=12
OPENAI_MAX_RETRY_ATTEMPTS=3
OPENAI_MAX_CONCURRENCY= 8
OPENAI_TEMPERATURE=0.0
OPENAI_RANDOM_SEED=42
OPENAI_MAX_TOKEN_COUNT=4096
OPENAI_MAX_TOKENS_PER_MINUTE=10000

AZURE_COSMOS_HOST=(Azure Cosmos DB Host)
AZURE_COSMOS_KEY=(Azure Cosmos DB Key)

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_USER=foo
POSTGRES_PASSWORD=bar
POSTGRES_ECHO=true
